<div class="taskbar">
   <taskbar-startmenu></taskbar-startmenu>
   <taskbar-cortana></taskbar-cortana>
   <taskbar-taskview></taskbar-taskview>
   <div class="app minimized"
        (mouseenter)="setHoveredApp()"
        (mouseleave)="setAppOut()"></div>
   <div class="right">
      <taskbar-tray></taskbar-tray>
      <taskbar-time></taskbar-time>
      <div class="notificationMenu"
           (click)="toggleNav()"
           (mouseenter)="enterNotificationnIcon()"
           (mouseleave)="exitNotificationnIcon()"></div>
      <taskbar-peek></taskbar-peek>
   </div>
</div>