<div class="taskbar" >
        <div id="start"></div>
        <div class="cortana">
                <div class="cortana-wrapper">
                        <span class="cortana-circle"></span>
                        <span class="text">Type here to search</span>
                </div>
                <div class="cortana-voice-search">
                        <span class="icon voice-search"></span>
                </div>
        </div>

        <div class="taskview"></div>
        <div class="app minimized" (mouseenter)="setHoveredApp()" (mouseleave)="setAppOut()"></div>
        <div class="right">
                        <div class="up-arrow">
                                        <div class="arrow">❮</div>
                                      </div>
                                      <div class="">
                                                <div class="all-icons">TESTTTTTTTTTTTTT</div></div>
                <div class="time">
                        <div class="clock">3:54 PM</div>
                        <div class="date">11/28/2016</div>
                </div>
                <div class="notificationMenu" (click)="toggleNav()" (mouseenter)="enterNotificationnIcon()" (mouseleave)="exitNotificationnIcon()"></div>
                <div class="peek" >
                        <!-- (onmouseover)="" (click)="" -->
                </div>
        </div>
</div>