
.taskbar {
   display:flex;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 44px;
  position: absolute;
  left: 0px;
   bottom: 0px;
   color:#fff;
   z-index: 9999px;
   
   
}
.right {
  display:flex;
  order: 1;
}
.taskbar::after {
  content: '';
  flex-grow: 1;
  order: 0;
}
.app{
  position: relative;
  display:inline-block;
  
   background: url("http://icons.iconarchive.com/icons/appicns/simplified-app/512/appicns-Chrome-icon.png");
   width: 49px;
   height: 44px;
   background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
  
}
.app:hover {
  background-color: rgba(50,50,50,0.7);
}

.minimized:after {
	content:"";
  display:block;
  position:absolute;
  bottom:0;
  left:5px; right:5px;
  height:2px;
  background:rgba(115, 184, 255,1);
  transition:all 0.15s ease-out;
  }
.minimized:hover:after  {
    transition:all 0.15s ease-out;
    left:0;
    right:0;
  }
.taskview {
   background: url("../../../assets/task view.png");
   width: 49px;
   height: 44px;
   background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}
.taskview:hover {
  background: url("../../../assets/taskviewHover.png");
  width: 49px;
   height: 44px;
   background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(50,50,50,0.7);
  
}
.notificationMenu {
   background: url("../../../assets/emptynotification.png");
   width: 40px;
   height: 44px;
   background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.notificationMenu:hover {
  background-color: rgba(50,50,50,0.7);
}
#start {
  background: url("http://ru.gigabyte.com/MicroSite/380/assets/img/Windows_256.png");
  width: 48px;
  height: 44px;
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
}
#start:hover {
  background-color: rgba(50,50,50,0.7);
  background-image: url("https://www.accessfirefox.org/images/index_page/Windows-10-logo-larger.png");
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center;
}
.search {
  width: 344px;
  height: 44px;
  /*background-color: rgba(50,50,50,0.7);*/

}
#search {
  width: 344px;
  height: 44px;
  background-color: rgba(51,51,51,0.8);
  color: lightgray;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}
#search:hover {
  background-color: rgba(100,100,100,0.6);
}
#search:focus {
  border: none;
  background-color: rgba(255,255,255,0.9);
  color: gray;
  height: 44px;
  bottom: 0;
}
.search:focus {
  height: 500px;
  bottom: 0;
}
#search:focus {
  border: none;
  background-color: rgba(255,255,255,0.9);
  color: gray;
  height: 44px;
  bottom: 0;
}


  .time {
    padding-top: 5px; 
    height: auto;
    width:60px;
  }
  .time:hover {
    background-color: rgba(50,50,50,0.7);
  }
    .clock, .date {
      padding-top:2px;
      text-align:center;
      height:auto;
      font-size:0.8em;
      line-height:1em;
    }

    .date {
      margin-top:5px;
    }

    .peek {
			display:inline-block;
      width:4px; 
      height:44px;
			margin-left:10px;
			border-left:1px solid rgba(255,255,255,0.5);
    }
    .peek:hover {
      background-color: rgba(50,50,50,0.7);      
    }





    
.cortana {
  background-color: #343436;
  float: left;
  height: 44px;
  position: relative;
  width: 344px;
}
.cortana-wrapper {
  box-sizing: border-box;
  cursor: default;
  height: 44px;
  float: left;
  padding-left: 10px;
  width: 305px;
}
.cortana-wrapper .text,
.cortana-wrapper .cortana-circle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cortana-wrapper .text {
  color: grey;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}
.cortana-wrapper:hover {
  background-color: #414143;
}
.cortana-circle {
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px white;
  display: inline-block;
  height: 17px;
  position: relative;
  vertical-align: middle;
  width: 17px;
}
.voice-search {
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  display: inline-block;
  height: 44px;
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 16%;
}
.voice-search:hover {
  background-color: rgba(0, 173, 239, 0.1);
}
.up-arrow {
  width: 25px;
  height: 100%;
  position: relative;
}
.up-arrow:hover {
  background-color: rgba(50,50,50,0.7);      
}
  .arrow {
     width: 10px;
     height: 10px;
     color: white;
     transform: rotate(90deg);
     transform-origin: top center;
     position: absolute;
     left: 20px;
     top: 25px;
     cursor: pointer;
  }