.peek {
   display: inline-block;
   width: 4px;
   height: 44px;
   margin-left: 10px;
   border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.peek:hover {
   background-color: rgba(50, 50, 50, 0.7);
}