<div ngDraggable class="window" *ngIf="getKeyboardState()">
  <div class="top-bar">
    <div class="sip mdAsset">&#xE759;</div>
    <div class="icon mdAsset">&#xE75B;</div>
    <div class="icon mdAsset" (click)="close()">&#xE8BB;</div>
  </div>
<div class="keyboard">
  <div class="key-row">
    <div class="key primary-color">q</div>
    <div class="key primary-color">w</div>
    <div class="key primary-color">e</div>
    <div class="key primary-color">r</div>
    <div class="key primary-color">t</div>
    <div class="key primary-color">y</div>
    <div class="key primary-color">u</div>
    <div class="key primary-color">i</div>
    <div class="key primary-color">o</div>
    <div class="key primary-color">p</div>
    <div class="key-double primary-color mdAsset">&#xE750;</div>
  </div>
  <div class="key-row">
    <div class="key primary-color">a</div>
    <div class="key primary-color">s</div>
    <div class="key primary-color">d</div>
    <div class="key primary-color">f</div>
    <div class="key primary-color">g</div>
    <div class="key primary-color">h</div>
    <div class="key primary-color">j</div>
    <div class="key primary-color">k</div>
    <div class="key primary-color">l</div>
    <div class="key primary-color">'</div>
    <div class="enter primary-color mdAsset">&#xE751;</div>
  </div>
  <div class="key-row">
    <div class="key secondary-color mdAsset">&#xE74A;</div>
    <div class="key primary-color">z</div>
    <div class="key primary-color">x</div>
    <div class="key primary-color">c</div>
    <div class="key primary-color">v</div>
    <div class="key primary-color">b</div>
    <div class="key primary-color">n</div>
    <div class="key primary-color">m</div>
    <div class="key primary-color">,</div>
    <div class="key primary-color">.</div>
    <div class="key primary-color">?</div>
    <div class="key secondary-color mdAsset">&#xE74A;</div>
  </div>
  <div class="key-row">
    <div class="key secondary-color">&123</div>
    <div class="key secondary-color">CTRL</div>
    <div class="key secondary-color mdAsset">&#xE76E;</div>
    <div class="spacebar primary-color"></div>
    <div class="key secondary-color mdAsset">&#xE096;</div>
    <div class="key secondary-color mdAsset">&#xE00F;</div>
    <div class="key secondary-color mdAsset">&#xE144;</div>
  </div>
</div>
</div>
