#notification-menu {
	position: fixed;
	box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);	
   background-color: rgba(0,0,0,0.9);;
   box-shadow:inset 0 -1px 0 rgba(255,255,255,.25);	
   top: 0;
    bottom: 43px;
    width: 350px;
    right: -350px;
    -webkit-transform: translate(0px, 0px);
   -moz-transform: translate(0px, 0px);
   -o-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
   -webkit-transition: 0.30s ease;
   -moz-transition: 0.30s ease;
   -o-transition: 0.30s ease;
   transition: 0.30s ease;
   color:#ffffff;
 }
 
  #notification-menu.active {
   -webkit-transform: translate(-350px, 0px);
   -moz-transform: translate(-350px, 0px);
   -o-transform: translate(-350px, 0px);
   -ms-transform: translate(-350px, 0px);
   transform: translate(-350px, 0px);
 }
 .action-center{
   display:flex;
   list-style: none;
 }
 .action-center li {
    width:35px;
 }
 