#start {
    background: url("../../../../../assets/core/Windows_256.png");
    width: 48px;
    height: 44px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

#start:hover {
    background-color: rgba(50, 50, 50, 0.7);
    background-image: url("../../../../../assets/core/Windows-10-logo-larger.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.startmenu {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 44px;
    left: 0;
    height: 600px;
    width: 850px;
    padding-top: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 9000;
}
.active {
    visibility: visible;
}
.tiles {
    flex: 0 0 280px;
}

.programs {
    flex: 0 0 220px;
}

.small-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:300px;
}

.icon {
    width: 48px;
    height: 48px;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;    
    }

.icon:hover {
    background-color: rgba(50, 50, 50, 0.7);
}
