#start {
    background: url("http://ru.gigabyte.com/MicroSite/380/assets/img/Windows_256.png");
    width: 48px;
    height: 44px;
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
}

#start:hover {
    background-color: rgba(50, 50, 50, 0.7);
    background-image: url("https://www.accessfirefox.org/images/index_page/Windows-10-logo-larger.png");
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
}