<div id="notification-menu" [ngClass]="{'active' : getToggleStatus() }">
  <div class="notifications">
    <div class="actionCenterHeader">
      <div class="actionCenterHeaderText">Action Center</div>
      <div class="actionCenterHeaderClear">Clear all</div>
    </div>

    <div class="notification">
      <div class="title">Some Title</div>
      <div class="description">A rather lenghty description of something for a notification that is created.</div>
    </div>
    No new notifications
  </div>
  <div [ngClass]="{'action-center-cont' : !areIconsExpanded, 'action-center-cont-tall' : areIconsExpanded }">
    <div class="expand" (click)="toggleIcons()">
      {{getExpandText()}}
    </div>
    <ul class="action-center">
      <li>
        <label id="msdIcon">&#xEBFC;</label>
        <div class="text">Tablet mode</div>
      </li>
      <li>
        <label id="msdIcon">&#xEE77;</label>
        <div class="text">Network</div>
      </li>
      <li>
        <label id="msdIcon">&#xE70B;</label>
        <div class="text">Note</div>
      </li>
      <li>
        <label id="msdIcon">&#xE713;</label>
        <div class="text">All settings</div>
      </li>
      <li>
        <label id="msdIcon"> &#xE709;</label>
        <div class="text">Airplane mode</div>
      </li>
      <li>
        <label id="msdIcon">&#xE1C4;</label>
        <div class="text">Location</div>
      </li>
      <li>
        <label id="msdIcon">&#xE708;</label>
        <div class="text">Quiet hours</div>
      </li>
      <li>
        <label id="msdIcon">&#xEC44;</label>
        <div class="text">Mobile hotspot</div>
      </li>
      <li>
        <label id="msdIcon">&#xE793;</label>
        <div class="text">Night light</div>
      </li>
      <li>
        <label id="msdIcon">&#xE705;</label>
        <div class="text">VPN</div>
      </li>
      <li>
        <label id="msdIcon">&#xEBC6;</label>
        <div class="text">Project</div>
      </li>
      <li>
        <label id="msdIcon">&#xEBDE;</label>
        <div class="text">Connect</div>
      </li>

    </ul>
  </div>
</div>