
.cortana {
   background-color: #343436;
   float: left;
   height: 44px;
   position: relative;
   width: 344px;
}

.cortana-wrapper {
   display: flex;
   box-sizing: border-box;
   cursor: default;
   height: 44px;
   float: left;
   padding-left: 10px;
   width: 305px;
}

.cortana-circle {
   top: 50%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
}

.text {
   color: #ADADAD;
   display: inline-block;
   text-align: center;
   font-size: 14px;
   margin-top: 4px;
   margin-left: 10px;
}

.cortana-wrapper:hover {
   background-color: #414143;
}

.cortana-circle {
   order: 0;
   border: 2px solid white;
   border-radius: 50%;
   box-shadow: 0 0 1px 1px white;
   display: inline-block;
   height: 17px;
   position: relative;
   vertical-align: middle;
   width: 17px;
}

.voice-search {
   display: inline-block;
   height: 44px;
   position: absolute;
   width: 11%;

}

.voice-search:hover {
   background-color: rgba(8, 166, 214, 0.14);
   border-left: 1px solid rgba(8, 166, 214, 0.2);
   border-right: 1px solid rgba(8, 166, 214, 0.2);
   border-top: 1px solid rgba(8, 166, 214, 0.2);
   box-sizing:border-box;
   position: absolute;
   margin-left:-1px;
   margin-top:-1px;
   width:11%;
}

.mdlAssetCenter {
    color:rgb(173, 173, 173);
    font-size: 16px;
    line-height: 44px;
    margin-left: 12px;
}
