  .screensaver-background {
      position: absolute;
      left: 0px;
      top: 0px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100.39%;
      height: 101.5%;
      width: 100%;
      height: 100%;
      transition-property: all;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      max-height: 100%;
      z-index: 9000;
  }

  .screensaver-background.closed {
      max-height: 0;
  }

  .dateBlock {
      font-size: 60px;
      position: absolute;
      bottom: 80px;
      left: 25px;
      font-family: 'Roboto', sans-serif;
      color: #fff;
  }

  #time {
      font-size: 100px;
  }

  #time,
  #date {
      position: relative;
      line-height: 1.5em;
  }