html {
	background: black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  overflow: hidden;
  font: 15px/32px "Segoe UI", Arial, sans-serif;
}
.mdlAsset {
  font-family:'Segoe MDL2 Assets';      
}
.background {
	background: url("./assets/core/backgrounds/windows_10_light_and_mirror_background_0.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	width: 100.39%;
	height: 101.5%;
	position: absolute;
	top: -1px;
	left: -1px;
}
.ngx-contextmenu .dropdown-menu {
    width: 310px;
    border: solid 1px #fff;
    background-color: #1B1717;
    padding: 0;
  }
  .ngx-contextmenu li {
    display: block;
    text-align: left;
  }
  .ngx-contextmenu li:first-child {
    border-top:none;
  }
  .ngx-contextmenu a {
      color:#fff;
      text-decoration: none;      
    display: block;
    padding: 0.5em 1em;
  }
  .ngx-contextmenu a:hover {
    color:#fff;
    background-color:gray;
  }
  .ngx-contextmenu .divider {
      padding-top: 2px;
      border-bottom: 1px solid gray;
  }

  .recycle { background-image: url("./assets/core/recycle_bin_empty-10.png"); }